{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/cargo_style.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="tab">
        <p>DOCKER</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        {% if user.is_authenticated %}
        <a class="user" href="logout">Logout</a>
        {% else %}
        <a class="user" href="register">Register</a>
        {% endif %}
      </div>

      <div class="form">
        <form method="POST" class="cargo-form">
          {% csrf_token %}
          <label for="id_jenis_cargo">Jenis Cargo:</label>
          {{ form.jenis_cargo }}

          <label for="id_berat">Berat barang:</label>
          {{form.berat}}

          <label for="id_ukuran">Ukuran Barang:</label>
          {{form.ukuran}}

          <label for="id_agen_pengiriman">Agen Pengirim:</label>
          {{form.agen_pengiriman}}

          <label for="id_tujuan_pengiriman">Tujuan Pengiriman:</label>
          {{form.tujuan_pengiriman}}

          <label for="id_nama_pengirim">Nama Pengirim:</label>
          {{form.nama_pengirim}}

          <label for="id_nama_penerima">Nama Penerima:</label>
          {{form.nama_penerima}}

          <button type="submit">Kirim</button>
        </form>
    </div>
  </body>
</html>
