{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/check_cargo.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <div class="tab">
        <p>DOCKER</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        {% if user.is_authenticated %}
        <a class="user" href="logout">Logout</a>
        {% else %}
        <a class="user" href="register">Register</a>
        {% endif %}
      </div>

      <table>
        <thead>
          <tr>
            <th>Cargo Type</th>
            <th>Weight (Kg)</th>
            <th>Dimension (Cm)</th>
            <th>Delivery Place</th>
            <th>Delivery Destination</th>
            <th>Sender Name</th>
            <th>Recipient's name</th>
            <th>Registered On</th>
            <th>Edit Data</th>
            <th>Delete Data</th>
          </tr>
        </thead>

        <tbody>
          {% for cargo in cargos %}
          <tr>
            <td>{{cargo.jenis_cargo}}</td>
            <td>{{cargo.berat}}</td>
            <td>{{cargo.ukuran}}</td>
            <td>{{cargo.agen_pengiriman}}</td>
            <td>{{cargo.tujuan_pengiriman}}</td>
            <td>{{cargo.nama_pengirim}}</td>
            <td>{{cargo.nama_penerima}}</td>
            <td>{{cargo.created_at}}</td>
            <td><a href="{% url 'edit_cargo' cargo.id %}">Edit</a></td>
            <td><a href="{% url 'delete_cargo' cargo.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
