{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <title>Index</title>
  </head>
  <body>
    <div class="home">
      <div class="tab">
        <p>DOCKER</p>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        {% if user.is_authenticated %}
        <a class="user" href="logout">Logout</a>
        {% else %}
        <a class="user" href="register">Register</a>
        {% endif %}
      </div>

      <div class="main">
        <div class="title">
          {% if user.is_authenticated %}
          <h1>
            Welcome to Docker <br />
            {{user.username}}
          </h1>
          {% else %}
          <h1>
            Welcome to <br />
            docker
          </h1>
          {% endif %}
          <p>send cargo quickly, safely and reliably to various places</p>
        </div>
        <div class="main_content">
          <ul>
            <li><a href="cargo/">Send Cargo</a></li>
            <li><a href="cargo/add/">Check Cargo</a></li>
            <li><a href="#">Track Cargo</a></li>
            <li><a href="#">Price Estimated</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
