{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <title>Index</title>
  </head>
  <body>
    <div class="home">
      <div class="tab">
        <p>DOCKER</p>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        {% if user.is_authenticated %}
        <a class="user" href="logout">Logout</a>
        {% else %}
        <a class="user" href="register">Register</a>
        {% endif %}
      </div>
      <div class="main">
        {% if user.is_authenticated %}
        <h1>Hello {{user.username}}</h1>
        {% else %}
        <h1>Hello User</h1>
        {% endif %}
      </div>
    </div>
  </body>
</html>
