<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="home">
      <div class="tab">
        <p>DOCKER</p>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <a class="user" href="#">Hello User</a>
      </div>
    </div>
  </body>
</html>
