* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  height: fit-content;
  width: 100%;
  padding-bottom: 5rem;
  background-color: rgb(52, 52, 52);
}

.tab {
  display: flex;
  background: rgb(41, 41, 41);
  justify-content: space-around;
  color: rgb(255, 255, 255);
  height: 5rem;
  align-items: center;
}

.tab p {
  font-size: 1.3em;
}

.tab ul {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.tab ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.1em;
}

.tab a.user {
  text-decoration: none;
  color: aliceblue;
  border: 1px solid #fff;
  padding: 8px 13px;
  transition: 0.3s;
}

.tab a.user:hover {
  background: rgb(253, 139, 45);
  border: 1px solid rgb(253, 139, 45);
  color: rgb(31, 31, 31);
}

.sub-content {
  display: flex;
  width: 100%;
  height: fit-content;
}

.form {
  width: 50%;
  padding: 2rem;
  margin: 2rem 1rem 0 2rem;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form p {
  text-align: center;
  font-size: 1.6em;
  margin: 1.2rem 0;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.cargo-form input {
  width: 100%;
  height: 30px;
  background: white;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 10px 0;
  padding: 0 10px;
}

.cargo-form button {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  width: 120px;
  height: 34px;
  border: none;
  outline: none;
  background: rgb(31, 31, 31);
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: whitesmoke;
  transition: 0.3s;
}

.cargo-form button:hover {
  color: rgb(31, 31, 31);
  background: rgb(253, 139, 45);
}

.tab-container {
  width: 50%;
  padding: 2rem;
  margin: 2rem 1rem 0 2rem;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.tab-container p {
  text-align: center;
  font-size: 1.6em;
  margin: 1.2rem 0 2rem;
}

.content .content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.67);
}

.content .content-table thead tr {
  color: rgb(31, 31, 31);
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5rem 0.8rem;
  margin: 0 3px 0 3px;
}

.content-table tbody a.edit {
  background-color: rgb(61, 232, 58);
}

.content-table tbody a.delete {
  background-color: rgb(255, 55, 0);
}
