* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  height: 100vh;
  width: 100%;
  background: whitesmoke;
}

.tab {
  display: flex;
  background: rgb(41, 41, 41);
  justify-content: space-around;
  color: rgb(255, 255, 255);
  height: 10%;
  align-items: center;
}

.tab p {
  font-size: 1.3em;
}

.tab ul {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.tab ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.1em;
}

.tab a.user {
  text-decoration: none;
  color: aliceblue;
  border: 1px solid #fff;
  padding: 8px 13px;
  transition: 0.3s;
}

.tab a.user:hover {
  background: rgb(253, 139, 45);
  border: 1px solid rgb(253, 139, 45);
  color: rgb(31, 31, 31);
}

.content .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
}

.content .content-table thead tr {
  background-color: rgb(253, 139, 45);
  text-align: left;
  color: whitesmoke;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
